{% extends 'nav.html' %}
{% load static %}

{% block title%}
Kodr | Sheryians
{% endblock title%}

{% block css %}
<link rel="stylesheet" href="{% static 'bootcamp.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock css %}

{% block data %}
<div id="left_heading"><h1 id="camp">6 months In House <br>BootCamp <br>programme-Kodr.</h1>
        <div class="Nov">starts on :11Nov 2024</div>
        <div class="Nov">Placement Assistance</div>
        <div  id='price' ><h1>Price <span >₹ 59000</span><sub style="font-size: 3vh;">[50,000+18% Gst]</h1></div>
        <div id="seats"><h1>Seats Are Full</h1></div>
</div>
<div id="right_video"><iframe width="625" height="351" src="https://www.youtube.com/embed/pOGLAlGCKFE" title="This Bootcamp Will Change Your Life: Kodr x Sheryians !" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></div><br>
<div  id="short"><h1 >we believe in, <br><span >Consistency.</span> No shortcuts.</h1></div>
</div>
<div id="mern">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">MERN Stack </h1>
</div>
<div id="Algorithm">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Data Structures & Algorithm 🗿</h1>
</div>
<div id="mern">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">DBMS-SQL 🤟</h1>
</div>
<div id="core">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">CORE CS Subject </h1>
</div>
<div id="place">
        <h1 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Placement Assistance 💰</h1>
</div>
<div class="Non-Stop"><h1>Non-Stop <br><span>5HOurs</span><br> coding <sub style="font-size: 5vw;">[Everyday]</sub></h1>
<h1 id="mon">Monaday to saturady. 11:00AM To 4:00PM</h1>
</div>
<div class="Non-Stop"><h1 >Dominate</h1>
<h1 id="victory">From Start To Victory.</h1>
</div><br><br><br>
<hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">HTML/CSS</summary>
            <h3 style="color: gray;">HTML Basics</h2>
            <h3 style="color: gray;">Sematic HTML</h3>
            <h3 style="color: gray;">Forms and Validation</h3>
            <h3 style="color: gray;">MUltimedia Elements (Audio,Video)</h3>
            <h3 style="color: gray;">CSS Fundamentals</h3>
            <h3 style="color: gray;">CSS Box Model</h3>
            <h3 style="color: gray;">Flexbox</h3>
            <h3 style="color: gray;">Grid Layout</h3>
            <h3 style="color: gray;">CSS Animations</h3>
            <h3 style="color: gray;">Transitions</h3>
            <h3 style="color: gray;">Keyframe Animation</h3>
            <h3 style="color: gray;">Responsive DEsign</h3>
            <h3 style="color: gray;">Media Queries</h3>
            <h3 style="color: gray;"> CSS Variables</h3>
            <h3 style="color: gray;">CSS Frameworks(TailwindCSS)</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">JavaScript</summary>
            <h3 style="color: gray;">HTML Introduction</h2>
            <h3 style="color: gray;">Functions (Declaration,Expression,Arrow)</h3>
            <h3 style="color: gray;">Scope (Global,Local,Block)</h3>
            <h3 style="color: gray;">Closures</h3>
            <h3 style="color: gray;">Callbacks</h3>
            <h3 style="color: gray;">promises</h3>
            <h3 style="color: gray;">Async/Await</h3>
            <h3 style="color: gray;">Error Handling</h3>
            <h3 style="color: gray;">Event Loop</h3>
            <h3 style="color: gray;">DOM Manipulation</h3>
            <h3 style="color: gray;">Event Handling</h3>
            <h3 style="color: gray;">Object-Oriented Programming(OOP)</h3>
            <h3 style="color: gray;">Prototypes</h3>
            <h3 style="color: gray;"> Inheritance</h3>
            <h3 style="color: gray;">`this` Keyword</h3>
            <h3 style="color: gray;">ES6 Features (Destructing Spread Operator)</h3>
            <h3 style="color: gray;"> JSON Handling</h3>
            <h3 style="color: gray;">Featch API</h3>

        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">React JS</summary>
            <h3 style="color: gray;">JSX</h3>
            <h3 style="color: gray;">Functional Components</h3>
            <h3 style="color: gray;">Class Component</h3>
            <h3 style="color: gray;">Props</h3>
            <h3 style="color: gray;">State</h3>
            <h3 style="color: gray;">Use State Hook</h3>
            <h3 style="color: gray;">useEffect Hook</h3>
            <h3 style="color: gray;">React Router</h3>
            <h3 style="color: gray;">Context API</h3>
            <h3 style="color: gray;">Redux</h3>
            <h3 style="color: gray;">Hooks(useMemo, useCallback,UseRef)</h3>
            <h3 style="color: gray;">Form Handling</h3>
            <h3 style="color: gray;"> Two-Way Binding</h3>
            <h3 style="color: gray;">Higher-Order Components</h3>
            <h3 style="color: gray;"> Lazy Loading</h3>
            <h3 style="color: gray;">Component Lifecycle</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">Data Structures and algorithms(DSA)</summary>
        <h3 style="color: gray;">Arrays</h3>
        <h3 style="color: gray;">Linked List</h3>
        <h3 style="color: gray;">Stack</h3>
        <h3 style="color: gray;">Queues</h3>
        <h3 style="color: gray;">Hash Tables</h3>
        <h3 style="color: gray;">Trees(Binary,BST)</h3>
        <h3 style="color: gray;">Graphs</h3>
        <h3 style="color: gray;">Sorting Algorithms</h3>
        <h3 style="color: gray;">Searching Algorithms</h3>
        <h3 style="color: gray;">Dynamic Programming</h3>
        <h3 style="color: gray;">Greedy Algorithms</h3>
        <h3 style="color: gray;">Backtracking</h3>
        <h3 style="color: gray;">Recursion</h3>
        <h3 style="color: gray;"> Time COmplexity</h3>
        <h3 style="color: gray;">Space Complexity</h3>
        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">Node.js and Express[Backend]</summary>
        <h3 style="color: gray;">HTTP Server</h3>
        <h3 style="color: gray;">File Handling</h3>
        <h3 style="color: gray;">Routing in Express</h3>
        <h3 style="color: gray;">REST APIs</h3>
        <h3 style="color: gray;">Middleware</h3>
        <h3 style="color: gray;">Authentication(JWT,OAUth)</h3>
        <h3 style="color: gray;">Session Management</h3>
        <h3 style="color: gray;">Cookies</h3>
        <h3 style="color: gray;">Error Handling</h3>
        <h3 style="color: gray;">WebSockets(Socket.io)</h3>
        <h3 style="color: gray;">File Uploads</h3>
        <h3 style="color: gray;">API Rate Limiting</h3>
        <h3 style="color: gray;"> CORS</h3>
        <h3 style="color: gray;">Testing (Mocha,Chai)</h3>
        <h3 style="color: gray;"> Security(XSS,CSRF,DOS)</h3>
        <h3 style="color: gray;">Environment Variables</h3>
        <h3 style="color: gray;">Debugging</h3>

        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">Databases</summary>
        
                <h3 style="color: gray;">MongoDB</h3>
                <h3 style="color: gray;">Aggregation in MongoDB</h3>
                <h3 style="color: gray;">Indexing</h3>
                <h3 style="color: gray;">Relationships in MongoDB</h3>
                <h3 style="color: gray;">Redis</h3>
                <h3 style="color: gray;">Replication</h3>
                <h3 style="color: gray;">Sharding</h3>
                <h3 style="color: gray;">MySQL</h3>
                <h3 style="color: gray;">Queries</h3>
                <h3 style="color: gray;">Joins in MYSQL</h3>
                <h3 style="color: gray;">Normalization</h3>
                <h3 style="color: gray;">ACID Properties</h3>
                <h3 style="color: gray;"> Transactions</h3>
                <h3 style="color: gray;">Stored Procedures & Functions</h3>
                <h3 style="color: gray;"> Triggers</h3>
                <h3 style="color: gray;">Triggers</h3>
                <h3 style="color: gray;">Optimization</h3>
                <h3 style="color: gray;">Databases Design</h3>

        </details>
    </div><br>
    <hr><br>
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">Git/GitHub</summary>
            
                <h3 style="color: gray;">Version Control Basics</h3>
                <h3 style="color: gray;">Braching and Merging</h3>
                <h3 style="color: gray;">Pull Requests</h3>
                <h3 style="color: gray;">Git Workflows (GitFlow)</h3>
                <h3 style="color: gray;">Conflict Resolution</h3>
                <h3 style="color: gray;">GitHub Collaboration</h3>
                <h3 style="color: gray;">CI/CD with GitHub Actions</h3>
                
        </details>
    </div><br>
    <hr><br>
   
    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">DevOps and Deployment</summary>
        <h3 style="color: gray;">Node.js Deployment (Heroku,AWS)</h3>
        <h3 style="color: gray;">CI/CD Piplelines</h3>
        <h3 style="color: gray;">Docker</h3>
        <h3 style="color: gray;">Containerization</h3>
        <h3 style="color: gray;">Versioning</h3>
        <h3 style="color: gray;">Load Balancing</h3>
        </details>
    </div><br>
    <hr><br>

    <div>
        <h3 style="margin-left: 93vw;">expand</h3>
        <details>
        <summary style="font-size: 3vw;margin-left: -2vw;">Additional Topics</summary>
        <h3 style="color: gray;">Operating System</h3>
        <h3 style="color: gray;">Computer Network</h3>
        <h3 style="color: gray;">SEO Principles</h3>
        <h3 style="color: gray;">GSAP Animations/h3>
        <h3 style="color: gray;">Framer Motion</h3>
        <h3 style="color: gray;">AI TOols(ChatGPT, GitHub Copilot)</h3>
        <h3 style="color: gray;">Resume building </h3>
        <h3 style="color: gray;">Interview Preparation </h3>
        <h3 style="color: gray;">Mock Interview</h3>
        </details>
    </div><br>
    <hr><br><br><br>
   <div id="contact">
    <div id="social">
        <h1>🦁</h1>
        <p>Let's connect with our socials</p>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-solid fa-gamepad"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>

    
    <div id="company">
        <h2>company</h2>
        <a href="">About Us</a>
        <a href="">Support</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms and Condition</a>
        <a href="">Pricing&Refund</a>
        <a href="">Hire From Us</a>
        <a href="">Bug Bounty</a>
    </div>
    <div id="community">
        <h2>COMMUNITY</h2>
        <a href="">Inertia</a>
        <a href="">Discord</a>
    </div>
    <div id="get">
        <h2>Get In Touch</h2>
        <h4>+91 8109161752,</h4>
        <h4>+91 9691778470</h4>
        <a href="">hello@sheryians.com</a>
        <pre>23-B.Indrapuri Sector C,
        Bhopal(MP),462021
        </pre>
    </div>
   </div><br>
   <hr>
   <footer>
    <pre style="margin-top: 2vw;margin-left: 40vw;">Copyright @ 2024 Sheryians Pvt.Ltd. 
        All Rights Reserved</pre>
   </footer>

{% endblock data %}