{% extends 'nav.html' %}
{% load static %}
{% block title %}
sheryians
{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'course.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

{% endblock css %}
{% block data %}
<h1 style="font-size:5vw;margin-left: 5vw;">We're not a <span style="color: aqua;">course</span><br>
     Factory.</h1>
<h1 style="margin-left: 5vw;">We focus on courses that really help</h1> 
<div id="arr">    
<p >Courses which do work &#8595</p>
</div>
<div id="content1">
    <div class="bott">
        <img class="image" src="{% static 'images/sher1.jpg' %}" alt="">
        <div class="con"><h2>Front-End Domination:<p>Create Anything with Code</p></h2>
            <p style="width:5vw;height:3vh;background-color: black;border-radius: 3px;">HINDI</p>
            <span style="color: green;">Black Friday Sale</span>
            <div class="left">₹4999 <del>₹9999</del>
            <div class="right">50% OFF</div></div>

        </div>
        <br>
        <div style="width:25vw;height: 5vh;background-color: aqua;text-align: center;border-radius: 5px;"><h3>View Details</h3></div>

    </div>
    <div class="bott">
        <image class="image" src="{% static 'images/sher2.jpg' %}" alt="">
        <div class="con"><h2>Back-End <p>Create Efficient Back-End</p></h2>
        <p style="width:5vw;height:3vh;background-color: black;border-radius: 3px;">HINDI</p>
        <span style="color: green;">Black Friday Sale</span>
        <div class="left">₹5999 <del> ₹11999</del>
        <div class="right">50% OFF</div></div>
        
        </div>
        <br>
        <div style="width:25vw;height: 5vh;background-color: aqua;text-align: center;border-radius: 5px;"><h3>View Details</h3></div>

    </div>
    <div class="bott">   
        <img class="image" src="{% static 'images/sher3.jpg' %}" alt="">
        <div class="con"><h2>Aptitude& Reasoning for <p>Campus Placements</p> </h2>
            <p style="width:6vw;height:3vh;background-color: black;border-radius: 3px;">HINGLISH</p>
            <span style="color: green;">Black Friday Sale</span>
            <div class="left">₹999 <del>₹1500</del>
            <div class="right">33% OFF</div></div>
           
        </div>
        <br>
        <div style="width:25vw;height: 5vh;background-color: aqua;text-align: center;border-radius: 5px;"><h3>View Details</h3></div>

    </div> 
       
</div>    
<div id="bott1">
    <div class="bott"> 
        <img class="image" src="{% static 'images/sher4.jpg' %}" alt=""> 
        <div class="con" style="width:25vw;height: 23vh;background-color: gray;border-radius: 5px"><h2>Java&DSA Domination</h2>
            <p style="width:6vw;height:3vh;background-color: black;border-radius: 3px;">HINGLISH</p>
            <span style="color: green;">Black Friday Sale</span>
            <div class="left">₹4999 <del>₹9999</del>
                <div class="right">50% OFF</div>
            </div>
            
        </div>
        <br>            
        <div style="width:25vw;height: 5vh;background-color: aqua;text-align: center;border-radius: 5px;"><h3>View Details</h3></div>

    </div>
    <div class="bott"> 
        <img class="image" src="{% static 'images/sher5.jpg' %}" alt=""> 
        <div class="con" style="width:25vw;height: 23vh;background-color: gray;border-radius: 5px"><h2>Three.js Domaination</h2>
            <p style="width:5vw;height:3vh;background-color: black;border-radius: 3px;">HINDI</p>
        <span style="color: green;">Black Friday Sale</span>
        <div class="left">₹2499 <del>₹3500</del>
            <div class="right">29% OFF</div></div>
        </div>
        <br>           
        <div style="width:25vw;height: 5vh;background-color: aqua;text-align: center;border-radius: 5px;"><h3>View Details</h3></div>

    </div>  
</div>
<hr id="hr">
<br><br><br>
   <div id="contact">
    <div id="social">
        <h1>🦁</h1>
        <p>Let's connect with our socials</p>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>
        <a href=""><i class="fa-solid fa-gamepad"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
    </div>
    
    <div id="company">
        <h2 class="a">company</h2>
        <a class="c" href="">About Us</a>
        <a class="c" href="">Support</a><br>
        <a class="c" href="">Privacy Policy</a><br>
        <a class="c" href="">Terms and Condition</a><br>
        <a class="c" href="">Pricing & Refund</a><br>
        <a class="c" href="">Hire From Us</a><br>
        <a class="c" href="">Bug Bounty</a><br>
    </div>
    <div id="community">
        <h2>COMMUNITY</h2>
        <a href="">Inertia</a>
        <a href="">Discord</a>
    </div>
    <div id="get">
        <h2>Get In Touch</h2>
        <h4>+91 8109161752,</h4>
        <h4> +91 9691778470</h4>
        <a href="">hello@sheryians.com</a><br>
        <pre>23-B.Indrapuri Sector C,
    Bhopal(MP),462021
        </pre>
    </div>
   </div><br>
   <hr>
   <footer>
    <pre style="margin-top: 2vw;margin-left: 40vw;">Copyright @ 2024 Sheryians Pvt.Ltd. 
        All Rights Reserved</pre>
   </footer>
{% endblock data %}